* {
  border-width: 0px;
  margin: 0;
  padding: 0;
  --frame-widthIn: 4px;
  --frame-width: 7px;
  --light-frame-secondColor: rgb(199, 199, 199);
  --light-frame-firstColor: rgb(220, 220, 220);
  --light-frameShadow-color: rgb(150, 150, 150);
}
html,
body {
  height: 100vh;
  width: 100%;
}

body {
  background: rgba(83, 112, 99, 0.2);
  background-image: url("../images/fabric-texture.png");
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Inconsolata", Helvetica, sans-serif;
}

.container {
  background-image: url("../images/fabric-texture.png");
  border: 3px solid #1a2a33;
  height: auto;
  margin: 20px;
  margin-bottom: 5px;
  min-width: calc(100% - 40px);
  position: relative;
}

header {
  background-color: rgb(28, 153, 202);
  background-image: url("../images/header.jpg");
  border-bottom: 3px solid #1a2a33;
  height: 100px;
  width: 100%;
}

header a .logo {
  text-decoration: none;
}

.title {
  animation: 6s ease 0s infinite alternate none running hue;
  display: block;
  height: 60px;
  margin: auto;
  padding: 20px 0;
}

.body {
  background-image: url("../images/fabric-texture.png");
  background-color: rgba(236, 174, 165, 0.25);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  margin: auto;
  min-height: calc(100vh - 180px);
  padding: 20px 0;
  width: 100%;
}

.frame {
  border-radius: 2px;
  margin: 15px;
  overflow: hidden;
  padding: var(--frame-width);
  box-shadow: 0px 1px 4px 1px var(--light-frameShadow-color),
    0px 0px 2px var(--frame-widthIn) var(--light-frame-firstColor) inset,
    0px 0px 0px var(--frame-width) var(--light-frame-secondColor) inset;
  -moz-box-shadow: 0px 1px 4px 1px var(--light-frameShadow-color),
    0px 0px 2px var(--frame-widthIn) var(--light-frame-firstColor) inset,
    0px 0px 0px var(--frame-width) var(--light-frame-secondColor) inset;
  -webkit-box-shadow: 0px 1px 4px 1px var(--light-frameShadow-color),
    0px 0px 2px var(--frame-widthIn) var(--light-frame-firstColor) inset,
    0px 0px 0px var(--frame-width) var(--light-frame-secondColor) inset;
}

.pizzas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pizza {
  max-width: 35vw;
}

.pizza:hover {
  filter: saturate(1.2);
}

.paragraph {
  background-color: rgba(223, 201, 37, 0.45);
  border-radius: 5px;
  cursor: default;
  font-size: 1.3rem;
  margin: auto;
  max-width: fit-content;
  padding: 1rem;
  text-align: justify;
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-1turn);
  }
}

.paragraph1 {
  color: rgb(66, 142, 165);
}

.paragraph1 a {
  color: rgb(125, 66, 165);
  font-weight: bold;
  text-decoration: none;
}

.paragraph1 a:hover {
  color: rgb(90, 180, 207);
}

.paragraph2 {
  color: #bb5656;
  margin-bottom: 5px;
}

.paragraph2 a {
  color: #49569c;
  font-weight: bold;
  text-decoration: none;
}

.paragraph2 a:hover {
  color: #c53dd1;
}

.links {
  animation: 6s ease 0s infinite alternate none running hue;
  display: flex;
  margin: 20px auto;
  background-color: rgba(151, 211, 211, 0.45);
  border-radius: 5px;
}
.link {
  border-radius: 5px;
  margin: 20px;
}
.link a img {
  height: 40px;
  margin: 0;
}

.link:hover {
  filter: saturate(1.5);
}

footer {
  color: rgb(221, 169, 24);
  cursor: default;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
}

footer a {
  color: rgb(221, 169, 24);
  text-decoration: none;
}

footer a:hover {
  color: rgb(235, 144, 39);
}

@media screen and (max-width: 900px) {
  .pizza {
    max-width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  .title {
    height: 46px;
    padding: 27px 0;
  }
  .link a img {
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .link a img {
    height: 25px;
  }
  .paragraph {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .title {
    height: 34px;
    padding: 33px 0;
  }
  .links {
    flex-direction: column;
    align-items: center;
  }
  .link a img {
    height: 30px;
  }
}

@media screen and (max-width: 340px) {
  .title {
    height: 28px;
    padding: 36px 0;
  }
  .link a img {
    height: 30px;
  }
}
