* {
  border-width: 0px;
  margin: 0;
  padding: 0;
  --frame-widthIn: 4px;
  --frame-width: 7px;
  --light-frame-secondColor: rgba(146, 73, 73, 0.5);
  --light-frame-firstColor: rgb(161, 78, 78, 0.5);
  --light-frameShadow-color: rgb(88, 41, 41, 0.5);
}
html,
body {
  height: 100vh;
  width: 100%;
  text-rendering: optimizeLegibility;
}

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(-1turn);
  }
}
@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-1turn);
  }
}

body {
  background: rgba(83, 112, 99, 0.2);
  background-image: url("../images/fabric-texture.png");
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Inconsolata", Helvetica, sans-serif;
}

.container {
  background-image: url("../images/fabric-texture.png");
  border: 3px solid #1a2a33;
  height: auto;
  margin: 20px;
  margin-bottom: 5px;
  min-width: calc(100% - 40px);
  position: relative;
}

header {
  animation: 3s ease 0s infinite alternate none running hue;
  background: conic-gradient(
    from 90deg at 50% 51.52%,
    #4589ff 0deg,
    #ff7eb6 141.23deg,
    #f1c21b 231.23deg,
    #49cd7a 287.48deg,
    #4589ff 360deg
  );
  border-bottom: 3px solid #1a2a33;
  height: 100px;
  width: 100%;
}

header a .logo {
  text-decoration: none;
}

.title {
  animation: 6s linear 0s infinite alternate none running hue;
  display: block;
  height: 60px;
  margin: auto;
  padding: 20px 0;
}

header a img:hover {
  animation: none;
  filter: invert();
}

.body {
  background-image: url("../images/fabric-texture.png");
  background-color: rgba(236, 174, 165, 0.25);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  margin: auto;
  min-height: calc(100vh - 180px);
  width: 100%;
}

.frame {
  background: conic-gradient(
    from 90deg at 50% 51.52%,
    #4589ff 0deg,
    #ff7eb6 141.23deg,
    #f1c21b 231.23deg,
    #49cd7a 287.48deg,
    #4589ff 360deg
  );
  border-radius: 2px;
  margin: 15px;
  overflow: hidden;
  padding: var(--frame-width);
  box-shadow: 0px 1px 4px 1px var(--light-frameShadow-color),
    0px 0px 2px var(--frame-widthIn) var(--light-frame-firstColor) inset,
    0px 0px 0px var(--frame-width) var(--light-frame-secondColor) inset;
  -moz-box-shadow: 0px 1px 4px 1px var(--light-frameShadow-color),
    0px 0px 2px var(--frame-widthIn) var(--light-frame-firstColor) inset,
    0px 0px 0px var(--frame-width) var(--light-frame-secondColor) inset;
  -webkit-box-shadow: 0px 1px 4px 1px var(--light-frameShadow-color),
    0px 0px 2px var(--frame-widthIn) var(--light-frame-firstColor) inset,
    0px 0px 0px var(--frame-width) var(--light-frame-secondColor) inset;
  width: 35vw;
}

.pizzas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pizza {
  max-width: 35vw;
  animation: 7s linear 0s infinite alternate none running hue;
  animation-timing-function: ease-in-out;
}

.paragraph {
  background-color: rgba(223, 201, 37, 0.45);
  cursor: default;
  font-size: 1.3rem;
  margin: auto;
  max-width: fit-content;
  padding: 1rem;
  line-height: 1.8rem;
  text-align: justify;
}

.paragraph1 {
  color: rgb(66, 142, 165);
}

.paragraph1 a {
  color: rgb(165, 66, 66);
  font-weight: bold;
  text-decoration: none;
}

.paragraph1 a:hover {
  color: rgb(201, 52, 52);
  font-weight: bold;
}

.paragraph2 {
  color: #164181;
}

.paragraph2 a {
  color: #164181;
  text-decoration: none;
}

.paragraph2 a:hover {
  color: #000661;
  font-weight: bold;
}

.links {
  animation: 3s ease 0s infinite alternate none running hue;
  background: conic-gradient(
    from 90deg at 50% 51.52%,
    #4589ff 0deg,
    #ff7eb6 141.23deg,
    #f1c21b 231.23deg,
    #49cd7a 287.48deg,
    #4589ff 360deg
  );
  border-radius: 5px;
  display: flex;
  margin: 10px auto 20px;
}

.link {
  animation: 6s linear 0s infinite alternate none running hue;
  border-radius: 5px;
  margin: 20px 40px;
}

.link a img {
  height: 40px;
  margin: 0;
}

.link a img:hover {
  filter: invert();
}

footer {
  background-color: #003cff79;
  color: rgb(255, 217, 0);
  cursor: default;
  display: block;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 20px 0;
  text-align: center;
  width: inherit;
}

footer a {
  color: rgb(255, 217, 0);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .frame {
    width: 70vw;
  }
  .pizza {
    max-width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  .title {
    height: 46px;
    padding: 27px 0;
  }
  .link a img {
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .link a img {
    height: 25px;
  }
  .paragraph {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .title {
    height: 34px;
    padding: 33px 0;
  }
  .links {
    flex-direction: column;
    align-items: center;
  }
  .link a img {
    height: 30px;
  }
}

@media screen and (max-width: 340px) {
  .title {
    height: 28px;
    padding: 36px 0;
  }
  .link a img {
    height: 30px;
  }
}
